.friendPage-box{
background-color: black;
border-radius: 15px;
width: 60%;
height: 45vw;
padding: 2%;
position: fixed;
right: 2%;
overflow-y: auto;
}

h1{
    color: aliceblue;
  margin-left: 3%;
}

.friendPage-content{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    overflow-y: auto;
}
.friendPage-content::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }